@import "tailwindcss";

@theme {
	--font-plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;

	--color-blue-50: "#ECF2F9";
	--color-blue-100: "#D8E7F4";
	--color-blue-200: "#B6D6EF";
	--color-blue-400: "#6CB1E6";
	--color-blue-500: "#2273BB";
	--color-blue-600: "#1A5F9E";
	--color-blue-800: "#134D80";
	--color-blue-900: "#103E6B";

	--color-green-50: "#ECF6E9";
	--color-green-100: "#DCEFD7";
	--color-green-200: "#C5E6BF";
	--color-green-500: "#6BC960";
	--color-green-600: "#4EB845";
	--color-green-700: "#3FA535";
	--color-green-800: "#267826";
	--color-green-900: "#1D6421";

	--color-ink-50: "#F6F8FB";
	--color-ink-100: "#EEF1F6";
	--color-ink-300: "#BCC6D6";
	--color-ink-600: "#46587A";
	--color-ink-900: "#0E1A2B";

	--color-critical: "#D33B32";
	--color-warning: "#E08409";
	--color-success: "#2A9550";
	--color-info: "#1A5F9E";
}
